<div>
  <!-- doctor appointment -->
  <h2 class="text-2xl font-semibold mt-6 mb-4 text-gray-700">
    Appointment Management
  </h2>
  <div class="flex space-x-4 border-b bg-gray-200">
    <button
      (click)="onDoc()"
      class="text-lg font-medium py-2 px-4 hover:text-blue-600 focus:outline-none"
      [ngClass]="{ 'border-b-2 border-blue-500': openDoctor }"
    >
      Doctors
    </button>
    <button
      (click)="onPat()"
      class="text-lg font-medium py-2 px-4 hover:text-blue-600 focus:outline-none"
      [ngClass]="{ 'border-b-2 border-blue-500': !openDoctor }"
    >
      Patients
    </button>
  </div>
</div>
<div *ngIf="openDoctor">
  <h2 class="text-3xl font-semibold mb-6">Doctors</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
    <div
      *ngFor="let doctor of appointmentsData.doctors"
      class="bg-white shadow-md rounded-lg p-5"
    >
      <h3 class="text-xl font-semibold">
        {{ doctor.name }} - {{ doctor.specialty }}
      </h3>
      <ul class="mt-6 space-y-6">
        <li
          *ngFor="let appointment of doctor.appointments"
          class="p-4 bg-white border rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300"
        >
          <p class="text-lg font-semibold text-gray-800">
            <span class="font-bold text-blue-600">Patient:</span>
            {{ appointment.patientName }}
          </p>
          <p class="text-gray-700">
            <span class="font-bold text-blue-600">Date:</span>
            {{ appointment.date }} at {{ appointment.time }}
          </p>
          <p class="text-gray-700">
            <span class="font-bold text-blue-600">Status:</span>
            <span
              [ngClass]="{
                'text-green-600': appointment.status === 'Confirmed',
                'text-yellow-600': appointment.status === 'Pending',
                'text-red-600': appointment.status === 'Cancelled'
              }"
            >
              {{ appointment.status }}
            </span>
          </p>
          <p class="text-gray-700">
            <span class="font-bold text-blue-600">Contact:</span>
            {{ appointment.patientContact }} |
            <a
              href="mailto:{{ appointment.patientEmail }}"
              class="text-blue-500 underline hover:text-blue-700"
            >
              {{ appointment.patientEmail }}
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- patient appointment -->
<div *ngIf="openPatient">
  <h2 class="text-3xl font-semibold mb-6">Patients</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
    <div
      *ngFor="let patient of appointmentsData.patients"
      class="bg-white shadow-md rounded-lg p-5"
    >
      <h3 class="text-xl font-semibold">{{ patient.name }}</h3>
      <ul class="mt-6 space-y-6">
        <li
          *ngFor="let appointment of patient.appointments"
          class="p-4 bg-white border rounded-lg shadow-sm hover:shadow-md transition-shadow duration-300"
        >
          <p class="text-lg font-semibold text-gray-800">
            <span class="font-bold text-blue-600">Doctor:</span>
            {{ appointment.doctorName }}
            <span class="text-sm text-gray-600"
              >({{ appointment.specialty }})</span
            >
          </p>
          <p class="text-gray-700">
            <span class="font-bold text-blue-600">Date:</span>
            {{ appointment.date }} at {{ appointment.time }}
          </p>
          <p class="text-gray-700">
            <span class="font-bold text-blue-600">Status:</span>
            <span
              [ngClass]="{
                'text-green-600': appointment.status === 'Confirmed',
                'text-yellow-600': appointment.status === 'Pending',
                'text-red-600': appointment.status === 'Cancelled'
              }"
            >
              {{ appointment.status }}
            </span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
