<div class="p-0 tab:p-4 pc:p-6 bg-white shadow-lg rounded-lg">
  <h2 class="text-2xl font-semibold mt-8 mb-4 text-gray-700">
    User Management
  </h2>

  <!-- Tab Navigation -->
  <div class="mb-6">
    <div class="flex space-x-4 border-b bg-gray-200">
      <button
        (click)="showDoctors()"
        class="text-lg font-medium py-2 px-4 hover:text-blue-600 focus:outline-none"
        [ngClass]="{ 'border-b-2 border-blue-500': showDoctorTab }"
      >
        Doctors
      </button>
      <button
        (click)="showPatients()"
        class="text-lg font-medium py-2 px-4 hover:text-blue-600 focus:outline-none"
        [ngClass]="{ 'border-b-2 border-blue-500': !showDoctorTab }"
      >
        Patients
      </button>
    </div>
  </div>

  <!-- Doctors Table -->
  <div *ngIf="showDoctorTab">
    <h3 class="text-xl font-semibold mb-4">Doctors</h3>
    <table class="min-w-full table-auto bg-white shadow-md rounded-lg">
      <thead *ngIf="!isDocEditing">
        <tr class="bg-gray-100 text-left">
          <th class="px-6 py-3 text-sm font-semibold mob:px-2 text-gray-700">
            Name
          </th>
          <th class="px-4 py-3 text-sm font-semibold mob:px-2 text-gray-700">
            Specialty
          </th>
          <th class="px-4 py-3 text-sm font-semibold mob:px-2 text-gray-700">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of doctors" class="border-b">
          <td
            class="px-6 py-4 text-sm text-gray-800"
            *ngIf="!isDocEditing || currentEditingDoctor?.id !== doctor.id"
          >
            {{ doctor.name }}
          </td>
          <td
            class="px-2 py-4 text-sm text-gray-800"
            *ngIf="!isDocEditing || currentEditingDoctor?.id !== doctor.id"
          >
            {{ doctor.specialty }}
          </td>
          <td
            class="px-6 py-4 text-sm text-blue-600 hover:text-blue-800 cursor-pointer"
            *ngIf="!isDocEditing || currentEditingDoctor?.id !== doctor.id"
          >
            <button (click)="editDoctor(doctor)">Edit</button> |
            <button (click)="deleteDoctor(doctor)">Delete</button>
          </td>

          <!-- Editable form for each doctor -->
          <td *ngIf="isDocEditing && currentEditingDoctor?.id === doctor.id">
            <div class="bg-white shadow-md rounded-lg p-4">
              <h2 class="text-3xl font-semibold mb-4">Edit</h2>
              <form (ngSubmit)="updateDoc(currentEditingDoctor)">
                <div class="mb-4">
                  <label class="text-lg font-medium" for="name">Name:</label>
                  <input
                    type="text"
                    id="name"
                    [(ngModel)]="currentEditingDoctor.name"
                    name="name"
                    class="w-full border border-gray-300 rounded-md p-2"
                    required
                  />
                </div>

                <div class="mb-4">
                  <label class="text-lg font-medium" for="specialty"
                    >Specialty:</label
                  >
                  <input
                    type="text"
                    id="specialty"
                    [(ngModel)]="currentEditingDoctor.specialty"
                    name="specialty"
                    class="w-full border border-gray-300 rounded-md p-2"
                    required
                  />
                </div>

                <div class="flex justify-between">
                  <button
                    type="submit"
                    class="bg-blue-500 text-white py-2 px-2 rounded-md"
                  >
                    Save Changes
                  </button>
                  <button
                    (click)="cancelDoc()"
                    type="button"
                    class="bg-red-500 text-white py-2 px-4 rounded-md"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Patients Table -->
  <div *ngIf="!showDoctorTab">
    <h3 class="text-xl font-semibold mb-4">Patients</h3>
    <table class="min-w-full table-auto bg-white shadow-md rounded-lg">
      <thead *ngIf="!isPatEditing">
        <tr class="bg-gray-100 text-left">
          <th class="px-6 py-3 text-sm font-semibold text-gray-700">Name</th>
          <th class="px-6 py-3 text-sm font-semibold text-gray-700">Age</th>
          <th class="px-6 py-3 text-sm font-semibold text-gray-700">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients" class="border-b">
          <!-- Patient Info (only show when not editing) -->
          <td
            class="px-6 py-4 text-sm text-gray-800"
            *ngIf="!isPatEditing || currentEditingPatient?.id !== patient.id"
          >
            {{ patient.name }}
          </td>
          <td
            class="px-6 py-4 text-sm text-gray-800"
            *ngIf="!isPatEditing || currentEditingPatient?.id !== patient.id"
          >
            {{ patient.age }}
          </td>
          <td
            class="px-6 py-4 text-sm text-blue-600 hover:text-blue-800 cursor-pointer"
            *ngIf="!isPatEditing || currentEditingPatient?.id !== patient.id"
          >
            <button (click)="editPatient(patient)">Edit</button> |
            <button (click)="deletePatient(patient)">Delete</button>
          </td>

          <!-- Editable form for each patient (only show when editing) -->
          <td *ngIf="isPatEditing && currentEditingPatient?.id === patient.id">
            <div class="bg-white shadow-md rounded-lg p-6">
              <h2 class="text-3xl font-semibold mb-4">Edit</h2>
              <form (ngSubmit)="updatePat(currentEditingPatient)">
                <div class="mb-4">
                  <label class="text-lg font-medium" for="name">Name:</label>
                  <input
                    type="text"
                    id="name"
                    [(ngModel)]="currentEditingPatient.name"
                    name="name"
                    class="w-full border border-gray-300 rounded-md p-2"
                    required
                  />
                </div>

                <div class="mb-4">
                  <label class="text-lg font-medium" for="age">Age:</label>
                  <input
                    type="number"
                    id="age"
                    [(ngModel)]="currentEditingPatient.age"
                    name="age"
                    class="w-full border border-gray-300 rounded-md p-2"
                    required
                  />
                </div>

                <div class="flex justify-between">
                  <button
                    type="submit"
                    class="bg-blue-500 text-white py-2 px-4 rounded-md"
                  >
                    Save Changes
                  </button>
                  <button
                    (click)="cancelPat()"
                    type="button"
                    class="bg-red-500 text-white py-2 px-4 rounded-md"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
